{% extends 'core/base.html' %}

{% block content %}
<link rel="stylesheet" href="../../static/CSS/login.css">

<div class="login-form">
    <div class="login-container">
        <h2 class="title">Новый пароль</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="new_password" placeholder="Новый пароль" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" placeholder="Повторите пароль" required>
            </div>
            <button type="submit" class="submit-button">Сохранить пароль</button>
        </form>
    </div>
</div>
{% endblock %}