{% extends 'core/base.html' %}

{% block content %}
<link rel="stylesheet" href="../../static/CSS/login.css">

<div class="login-form">
    <div class="login-container">
        <h2 class="title">Восстановление пароля</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Ваш email" required>
            </div>
            <button type="submit" class="submit-button">Отправить код</button>
        </form>
        
        <div class="link-container">
            <a href="{% url 'login' %}" class="link">Вернуться к входу</a>
        </div>
    </div>
</div>
{% endblock %}