{% extends 'core/base.html' %}

{% block title %}Согласие на обработку персональных данных{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Согласие на обработку персональных данных - WORKWAVE</title>
    <link rel="stylesheet" href="../../static/CSS/politics.css">
</head>
    <div class="policy-container">
        <div class="back-link">
            <i class="fas fa-arrow-left"></i>
            <a onclick="goBack()">Назад</a>
        </div>
        <h1 class="main_title">Согласие на обработку персональных данных</h1>
        
        <div class="policy-content">
            <p>Генеральному директору ООО «РАВО»<br>
ОГРН: 1242300067404, ИНН: 2301115305</p>

<p><strong>Согласие на обработку персональных данных</strong></p>

<p>Настоящим я во исполнение требований Федерального закона от 27.07.2006
г. № 152-ФЗ «О персональных данных» свободно, своей волей и в своем
интересе даю свое согласие на обработку:</p>

<p>1.  Предоставленных мной персональных данных, не являющихся специальными
    или биометрическими, включая следующие данные:</p>

<ul>
    <li>-фамилия, имя, отчество;</li>
    <li>-адрес электронной почты;</li>
    <li>-номер телефона;</li>
    <li>-пол;</li>
    <li>-сведения о месте жительства (пребывания): страна и город;</li>
    <li>-дата, месяц, год и место рождения;</li>
    <li>-гражданство;</li>
    <li>-сведения об образовании и квалификации и их уровне, владении
        иностранными языками;</li>
    <li>-сведения об опыте (местах) и профессиональных навыках работы;</li>
    <li>-сведения об увлечениях.</li>
</ul>

<p>2.  Информации, предоставленной при заполнении мной или иными лицами по
    моему поручению (согласию) веб-форм / веб-полей на сайте,
    расположенном в сети Интернет по адресу <a href="https://onworkwave.ru">https://onworkwave.ru</a> (далее
    -- «Сайт»), и использовании сервисов Сайта, включая:</p>

<ul>
    <li>-сведения об используемом браузере;</li>
    <li>-местоположение;</li>
    <li>-IP-адрес;</li>
    <li>-идентификатор пользователя (user ID);</li>
    <li>-данные файлов cookie;</li>
    <li>-сведения о фактах доступа к Сайту, его страницам и сервисам,
        включая период времени, проведенный на Сайте (в т.ч. о
        пользовательских кликах, запрашиваемых страницах, заполнении
        полей, откликах на предложения и приглашения других
        пользователей и т.д.);</li>
    <li>-данные о пользовательском оборудовании, используемом для доступа
        к Сайту;</li>
    <li>-фотография;</li>
    <li>-информация о моих пожеланиях к работе (в т.ч. в части должности,
        оплаты, включая валюту оплаты, формата и графика работы, включая
        количество рабочих часов в день).</li>
</ul>

<p>Я согласен(согласна) с тем, что вышеуказанные (п. п. 1, 2) данные и
информация будут внесены в систему ООО «РАВО» ОГРН: 1242300067404, ИНН:
2301115305 (далее -- «Компания»), и Компания вправе осуществлять поиск,
сбор и уточнение информации обо мне из общедоступных источников
информации на основе сведений, представленных при заполнении мной или
иными лицами по моему поручению (согласию) веб-форм / веб-полей на
Сайте.</p>

<p>Я предоставляю право Компании обрабатывать вышеуказанные (п. п. 1, 2)
данные и информацию в целях организации процесса предоставления
запрошенных сервисов (использования Платформы WorkWave, иных программных
продуктов) Сайта, в том числе в целях:</p>

<ul>
    <li>-обработки моих запросов и выполнения Компанией своих обязательств
        передо мной;</li>
    <li>-предоставления мне сервисов (использования программных продуктов)
        Сайта;</li>
    <li>-информирования меня о продуктах, об акциях, специальных предложениях
        и т.п. Компании или ее партнеров,</li>
</ul>

<p>и выражаю свое согласие Компании на то, что при звонке представителя
Компании на номер телефона, указанный при заполнении мной или иными
лицами по моему поручению (согласию) веб-форм / веб-полей на Сайте,
Компанией может производиться запись такого звонка и обработка
вышеуказанных (п. п. 1, 2) и иных (озвученных мной при разговоре с
представителем Компании) данных и информации.</p>

<p>В случае предоставления мной данных и информации третьих лиц, включая
контактную информацию, я подтверждаю, что субъект персональных данных
уведомлен об осуществлении обработки его персональных данных Компанией.</p>

<p>Я уведомлен(а) и согласен(согласна) с тем, что в связи с указанными выше
целями мои персональные данные могут быть сообщены Компанией третьим
лицам. Я даю согласие на передачу Компанией своих персональных данных
третьим лицам в случаях, когда такая передача вытекает из логики
использования Сайта, его сервисов и/или программных продуктов, в т.ч.
для выполнения моих запросов на Сайте, а также размещения информационных
предложений посредством Сайта и/или Платформы WorkWave. Персональные
данные и информация, в отношении которых дано согласие на передачу
третьим лицам:</p>

<ul>
    <li>-фамилия, имя, отчество;</li>
    <li>-адрес электронной почты;</li>
    <li>-номер телефона;</li>
    <li>-пол;</li>
    <li>-сведения о месте жительства (пребывания): страна и город;</li>
    <li>-дата, месяц, год и место рождения;</li>
    <li>-гражданство;</li>
    <li>-сведения об образовании и квалификации и их уровне, владении
        иностранными языками;</li>
    <li>-сведения об опыте и навыках работы;</li>
    <li>-сведения об увлечениях;</li>
    <li>-фотография.</li>
</ul>

<p>Настоящим я уведомлен(а) о том, что я вправе требовать уточнения моих
персональных данных, их блокирования или уничтожения в случае, если
персональные данные являются неполными, устаревшими, неточными или не
являются необходимыми для заявленной цели обработки, я также в любой
момент могу потребовать прекращения обработки персональных данных и
информации, направив соответствующий отзыв в форме электронного
документа (сканированная копия документа с подписью субъекта
персональных данных) на адрес электронной почты
Компании: <a href="mailto:vladgordeev44@gmail.com">vladgordeev44@gmail.com</a>,
либо бумажного документа по адресу местонахождения Компании.</p>

<p>Я даю свое согласие на использование предоставленных мной персональных
данных для направления коммерческой и рекламной информации Компанией и
третьими лицами (партнерами Компании) по указанному мной при регистрации
и/или авторизации на Сайте телефону и адресу электронной почты. Я
уведомлен(а) о том, что я в любой момент могу отказаться от получения
коммерческой и рекламной информации, направив уведомление об этом на
адрес электронной почты
Компании: <a href="mailto:vladgordeev44@gmail.com">vladgordeev44@gmail.com</a>.</p>

<p>Я уведомлен(а) о том, что предоставленные мной персональные данные и
информация хранятся и обрабатываются Компанией в соответствии с
условиями Политики конфиденциальности, размещенной на Сайте.</p>

<p>Я согласен(согласна) с тем, что Компания вправе в любой момент без
предварительного уведомления изменять, дополнять или обновлять текст
настоящего Согласия на обработку персональных данных в той или иной
части. В том случае, если в настоящее Согласие на обработку персональных
данных будут внесены изменения, такое Согласие подлежит размещению на
Сайте, а соответствующие изменения вступают в силу в течение 10 (десяти)
рабочих дней с момента публикации новой редакции Согласия на обработку
персональных данных на Сайте. Если в течение указанного срока мной в
письменной форме, в том числе путем направления на адрес электронной
почты Компании: <a href="mailto:vladgordeev44@gmail.com">vladgordeev44@gmail.com</a>, не будет заявлено об отказе
от принятия внесенных изменений, то это означает выражение согласия со
всеми внесенными изменениями и новой редакцией Согласия на обработку
персональных данных. Обязуюсь регулярно просматривать текст настоящего
Согласия на обработку персональных данных и проверять наличие/отсутствие
изменений Согласия на обработку персональных данных и даты вступления в
силу таких изменений.</p>

<p>Руководствуясь п. 1 ст. 152.1 ГК РФ я даю Компании свое согласие на
безвозмездное использование моего изображения на предоставленной
(загруженной мной на Сайт) фотографии, а также даю разрешение на
опубликование и использование фотографии на Сайте и/или Платформе
WorkWave.</p>

<p>Настоящее согласие действует со дня его подписания до дня отзыва в
письменной/электронной форме.</p>
        </div>
    </div>
</html>

{% endblock %}