{% extends 'core/base.html' %}

{% block title %}Пользовательское соглашение{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности - WORKWAVE</title>
    <link rel="stylesheet" href="../../static/CSS/politics.css">
</head>
    <div class="policy-container">
        <div class="back-link">
            <i class="fas fa-arrow-left"></i>
            <a onclick="goBack()">Назад</a>
        </div>
        <h1 class="main_title">Пользовательское соглашение об использовании сайта и платформы WorkWave</h1>
        
        <div class="policy-content">
          
            
            <p>Посетителю Сайта необходимо внимательно ознакомиться с условиями
настоящего Пользовательского соглашения (далее -- <strong>Соглашение</strong>),
которое является публичной офертой в соответствии со статьей 437
Гражданского кодекса Российской Федерации.</p>

<p>Настоящее Соглашение заключено между Обществом с ограниченной
ответственностью «МАКРОН ЦИФРОВЫЕ СИСТЕМЫ» (ООО «МЦС»), ОГРН
5177746259323, ИНН/КПП 7751129949/775101001, место нахождения: 108811,
Москва, км Киевское Шоссе 22-Й (П Московский), двлд. 4 стр. 2, этаж 7,
блок Г офис 701Г, пом. 700Г (далее -- Компания), и Пользователем,
является лицензионным договором присоединения в соответствии со статьей
1286.1 Гражданского кодекса Российской Федерации и определяет условия и
способы использования Сайта и Платформы.</p>

<h3>1. Термины, используемые в настоящем Соглашении</h3>

<p>Для целей настоящего Соглашения термины, которые написаны с заглавной
буквы, используются в значении, указанном в настоящем разделе
Соглашения:</p>

<p>1.1. <strong>Сайт</strong> -- интернет ресурс, расположенный по доменному
адресу https://workhere.ru. Сайт является собственностью Компании и
администрируется ею.</p>

<p>1.2. <strong>Посетитель Сайта</strong> -- это пользователь сети Интернет, который
зашел на Сайт в течение определенного промежутка времени.</p>

<p>1.3. <strong>Пользователь</strong> -- полностью дееспособное физическое лицо в
соответствии с законодательством его страны, достигшее 18 лет, либо
индивидуальный предприниматель, подтвердившее свое намерение
использовать Сайт и Платформу в соответствии с настоящим Соглашением.</p>

<blockquote>
<p>Пользователь понимает и соглашается, что:</p>

<ul>
<li>доступный Пользователю функционал Платформы может отличаться и
зависит от полноты указания Пользователем в соответствующих разделах
Личного кабинета и/или запрашиваемых на Платформе данных о
Пользователе и иных условий, определяемых Компанией;</li>

<li>Компания вправе отказать Пользователю в Регистрации /или
заблокировать либо приостановить действие Учетной записи Пользователя
в одностороннем порядке без указания причин отказа.</li>
</ul>
</blockquote>

<p>1.4. <strong>Платформа «WorkWave»</strong> или <strong>Платформа</strong> -- программно-аппаратные
средства, интегрированные с Сайтом, доступ к которым предоставляется
Пользователю на основании настоящего Соглашения. Платформа предоставляет
Пользователям техническую возможность размещать информацию Пользователя
и соединяет с заказчиками, а также проводить напрямую между
Пользователями и заказчиками переговоры с целью дальнейшего заключения
сделок между ними.</p>

<p>1.5. <strong>Стороны</strong> -- совместно: Компания и Пользователь.</p>

<p>1.6. <strong>Личный кабинет</strong> -- закрытый раздел Сайта, функциональная часть
Платформы, включающая персонализированный интерфейс, который содержит
набор инструментов, позволяющих Пользователю управлять своей Учетной
записью, содержащая информацию о Пользователе, включая Персональную
информацию Пользователя, а также иную информацию, предоставляемую
Сторонами друг другу в процессе осуществления взаимодействия, в который
Посетителю Сайта предоставляется доступ для использования Платформы
после завершения Регистрации.</p>

<p>1.7. <strong>Регистрация</strong> означает совокупность действий Пользователя,
направленных на создание Учетной записи, в рамках которой Пользователь
передает информацию о его Логине и Пароле, которая используется
Пользователем для доступа в Личный кабинет. Пользователь подтверждает
факт Регистрации путем ввода Кода подтверждения, направленного ему на
указанный при Регистрации номер телефона.</p>

<p>1.8. <strong>Код подтверждения</strong> -- означает уникальную одноразовую комбинацию
символов в виде цифр, направляемую Компанией в виде СМС-сообщения,
которая используется Пользователем для подтверждения своего
волеизъявления на подписание Электронного документа.</p>

<p>1.9. <strong>Ключ Электронной подписи</strong> -- означает Код подтверждения,
направляемый Компанией Пользователю посредством СМС-сообщения и
предназначенный для создания Электронной подписи.</p>

<p>1.10. <strong>Электронный документ</strong> означает документ, в котором информация
представлена в электронной форме, то есть пригодном для восприятия
человеком с использованием электронных вычислительных машин, а также для
передачи по информационно-телекоммуникационным сетям, в том числе сети
Интернет, или обработки в информационных системах, и соответствует
установленному формату. К Электронным документам, заключаемым между
Пользователем и Компанией, относятся: настоящее Соглашение, размещенное
в футере Сайта, Электронный документ с заказчиком, а также Согласие на
обработку персональных данных, предоставляемое Пользователем Компании
при регистрации на Сайте.</p>

<p>1.11. <strong>Электронная подпись</strong> -- означает информацию в электронной
форме, созданную на основе Ключа Электронной подписи, которая связана с
Электронным документом и которая подтверждает факт формирования
Электронной подписи конкретным Пользователем, а также используется для
определения лица, подписавшего Электронный документ. В целях настоящего
Договора используется простая электронная подпись, предусмотренная
Федеральным законом от 06.04.2011 №63-ФЗ «Об электронной подписи».</p>

<p>1.12. <strong>Учетная запись</strong> означает уникальный Логин и Пароль, созданные в
ходе Регистрации на Сайте в целях его Регистрации и/или Авторизации.
После успешного прохождения Пользователем процедуры Регистрации Учетная
запись идентифицирует указанное лицо в качестве Пользователя и
предназначена для входа в Личный кабинет Пользователя.</p>

<p>1.13. <strong>Авторизация</strong> означает совокупность действий Пользователя,
направленных на получение доступа к его Личному кабинету в объеме и на
условиях, определяемых Компанией, в рамках которых Пользователь передает
связанную с ним информацию, являющуюся средством доступа к его Учетной
записи на Платформе (Логин и Пароль).</p>

<p>1.14. <strong>Логин и Пароль</strong> -- означает комбинацию в виде букв, цифр и/или
символов, которая используется Пользователем для доступа в Личный
кабинет. В качестве Логина на Сайте для доступа к Платформе используется
адрес электронной почты Пользователя, указанный им при Регистрации на
Платформе и/или в соответствующем разделе Личного кабинета. Пароль
используется многократно, и может быть изменен Пользователем
самостоятельно неограниченное количество раз.</p>

<p>1.15. <strong>Персональная информация Пользователя</strong> -- любая информация,
которую Пользователь предоставляет о себе самостоятельно при Регистрации
или в процессе использования Платформы, включая персональные данные
Пользователя: фамилия, имя, отчество, номер мобильного телефона, адрес
электронной почты, информацию, которая автоматически передается Компании
в процессе использования Платформы с помощью установленного на
устройстве Пользователя программного обеспечения, в том числе IP-адрес,
информация из cookie, информация о браузере пользователя, а также иные
данные о Пользователе.</p>

<p>Термины, специально не определенные в Соглашении, подлежат толкованию в
соответствии с действующим законодательством Российской Федерации и
обычаями делового оборота. В случае возникновения любых разногласий
относительно толкования термина и/или понятия, используемого в
Соглашении, применяться будет то толкование, которое будет определено
Компанией.</p>

<h3>2. Общие положения</h3>

<p>2.1. В соответствии с настоящим Соглашением Пользователю предоставляется
право использования Сайта и Платформы в предусмотренных Соглашением
пределах.</p>

<p>2.2. Использование Пользователем Сайта и Платформы любым способом и в
любой форме в пределах их функциональных возможностей, включая:
Регистрацию и/или Авторизацию Пользователя, влечет возникновение
гражданско-правовых отношений -- заключение договора на условиях
настоящего Соглашения в соответствии с положениями ст. 437-438
Гражданского кодекса Российской Федерации.</p>

<p>2.3. В случае совершения Пользователем любого из действий, указанных в
пункте 2.2. настоящего Соглашения, Пользователь подтверждает, что
ознакомился с условиями Соглашения до начала использования Сайта и
Платформы и принял условия Соглашения в полном объеме, без каких-либо
оговорок и исключений, обязуется их соблюдать при использовании Сайта и
Платформы, а также соглашается с тем, что Соглашение в любое время может
быть изменено Компанией в одностороннем порядке полностью или в части
без какого-либо уведомления Пользователя.<br>
Пользователь не вправе использовать Сайт и Платформу в случае несогласия
с какими-либо из положений настоящего Соглашения. В указанном случае
Пользователю необходимо покинуть Платформу и Сайт.</p>

<p>2.4. Компания по собственному усмотрению в одностороннем порядке может
принимать обязательные для Компании, Пользователя и/или иных лиц
регламенты, положения и правила, устанавливающие порядок взаимодействия,
права и обязанности, а также иные положения, касающиеся отдельных видов
взаимодействия указанных лиц в рамках Платформы, а также вносить в
Соглашение любые изменения без направления Пользователю каких-либо
специальных уведомлений. Пользователь принимает на себя обязательства с
разумной периодичностью отслеживать и знакомиться с содержанием
изменений в Соглашение (новой редакцией Соглашения).</p>

<p>2.5. Если иное не предусмотрено новой редакцией Соглашения, новая
редакция Соглашения вступает в силу с момента ее размещения в сети
Интернет на Сайте по адресу, указанному в пункте 1.1. настоящего
Соглашения.<br>
Использование Пользователем Сайта и Платформы после вступления в силу
новой редакции Соглашения означает согласие Пользователя с условиями
новой редакции Соглашения без каких- либо оговорок и/или исключений. В
случае если Компания внесла какие-либо изменения в Соглашение, с
которыми Пользователь не согласен, Пользователь обязан прекратить
использование Сайта и Платформы и покинуть Сайт. При использовании
Платформы Компания вправе устанавливать ограничения, прямо
предусмотренные настоящим Соглашением, для всех Пользователей либо
отдельных категорий, в том числе в зависимости от полноты указания
Пользователем в соответствующих разделах Личного кабинета данных о
Пользователе или иной связанной с ним информации.</p>

<p>2.6. Компания вправе направлять Пользователю информационные и рекламные
сообщения. Пользователь, регистрируясь на Сайте, в соответствии с ч. 1
ст. 18 Федерального закона «О рекламе» дает свое согласие на получение
сообщений рекламного характера. Пользователь вправе отказаться от
получения сообщений рекламного характера путем использования
соответствующего функционала Платформы или направления Компании
уведомления.</p>

<h3>3. Предмет Соглашения</h3>

<p>3.1. После регистрации на Сайте Компания предоставляет Пользователю
право использования Платформы в пределах и способами, определенными в
настоящем Соглашении.</p>

<p>3.2. Право использования Платформы предоставляется на следующих
условиях:</p>

<p>3.2.1. Территория, на которую предоставляется право использования
Платформы, -- все страны мира;</p>

<p>3.2.2. Период, на который предоставляется право использования Платформы,
-- с даты заключения настоящего Соглашения и на весь срок действия
исключительного права на Платформу либо до момента блокирования или
приостановки действия Учетной записи Пользователя. Стороны согласны, что
право использования предоставляется с момента заключения настоящего
Соглашения и не требует подписания между Сторонами специального акта;</p>

<p>3.2.3. Компания предоставляет Пользователю право использования Платформы
в соответствии с ее функционалом путем организации доступа Пользователя
к Платформе посредством Сайта в сети Интернет по адресу, который указан
в пункте 1.1. Соглашения, а также делает доступным Пользователю на
условиях, предусмотренных настоящим Соглашением, применение Платформы с
целью извлечения ее полезных свойств.</p>

<p>С учетом настоящего Соглашения, Пользователю доступно совершение
большого количества действий, реализованных на Платформе, включая,
помимо прочего, возможность просмотра общего содержания Платформы,
получение (в том числе по результатам поиска) наиболее релевантных
интересам Пользователя предложений и информационных предложений
заказчиков, возможность согласования условий таких информационных
предложений с заказчиками с целью дальнейшего заключения сделок между
ними.</p>

<p>3.3. Во избежание сомнений, иные способы использования Платформы,
которые прямо не указаны в настоящем Соглашении, запрещены без согласия
Компании.</p>

<h3>4. Обязанности Пользователя</h3>

<p>4.1. Одна Учетная запись может использоваться только одним
Пользователем. Пользователь не вправе сообщать Логин и Пароль для
доступа к своей Учетной записи третьим лицам либо иным образом
способствовать третьим лицам в доступе к Платформе через Учетную запись
Пользователя. В случае разглашения Логина и Пароля для доступа в Личный
кабинет третьим лицам либо наличия у Пользователя оснований полагать,
что третьи лица осуществляют такой доступ, Пользователь обязуется
незамедлительно сообщить об этом Компании.<br>
Все действия на Платформе, совершенные от имени Пользователя (через
Учетную запись Пользователя), считаются совершенными Пользователем. В
случае поступления Компании от Пользователя или третьих лиц информации
об осуществлении неправомерного доступа к персональному Учетной записи
Пользователя, Компания осуществляет блокировку Учетной записи
Пользователя до проверки соответствия данной информации
действительности.</p>

<p>4.2. Пользователь обязуется не загружать, не размещать или иным образом
не использовать на Платформе какие-либо материалы, охраняемые в
соответствии с действующим законодательством Российской Федерации об
охране интеллектуальной собственности без получения соответствующих
разрешений правообладателей указанных материалов. Пользователь
самостоятельно несет ответственность за любые убытки, возникающие в
связи с нарушением авторского права или иных прав на охраняемые
материалы, а также за любые убытки, возникающие при размещении им на
Платформе таких материалов.</p>

<p>4.3. Пользователь не вправе использовать Сайт и/или Платформу в
противоправных целях, а также в любых иных целях, противоречащих
назначению Сайта и/или Платформы условиям настоящего Соглашения, в том
числе:</p>

<p>4.3.1. в целях распространения материалов и информации, содержание или
назначение которых не соответствует требованиям действующего
законодательства Российской Федерации (компьютерные вирусы и иное
вредоносное программное обеспечение, материалы, направленные на
разжигание национальной ненависти и вражды, порнографические материалы и
т.п.);</p>

<p>4.3.2. Пользователь соглашается не предпринимать действий и не оставлять
комментарии и записи, которые могут рассматриваться как нарушающие
российское законодательство или нормы международного права, в том числе
в сфере интеллектуальной собственности, авторских и/или смежных прав,
общепринятые нормы морали и нравственности, а также любых действий,
которые приводят или могут привести к нарушению нормальной работы Сайта
и Платформы.</p>

<p>4.4. Пользователь не вправе:</p>

<p>4.4.1. регистрироваться на Сайте/Платформе от имени или вместо другого
лица;</p>

<p>4.4.2. использовать Логин и Пароль другого зарегистрированного
Пользователя;</p>

<p>4.4.3. нарушать права третьих лиц или причинять им вред в любой форме, в
том числе нарушать права третьих лиц на объекты интеллектуальной
собственности;</p>

<p>4.4.4. загружать, посылать, передавать или любым другим способом
размещать и/или распространять информацию и/или материалы, и/или
контент, который содержит и/или является рекламой, спамом (в том числе и
поисковым), списком чужих адресов электронной почты, схемой «пирамид»,
многоуровневого (сетевого) маркетинга (MLM), системой интернет-заработка
и e- mail-бизнесов, «письмом счастья», распространяемым без специального
разрешения;</p>

<p>4.4.5. осуществлять действия направленные на нарушение работы Сайта и
Платформы, учетных записей других Пользователей;</p>

<p>4.4.6. использовать без специального на то разрешения Компании
автоматизированные программы для ЭВМ (скрипты, боты, краулеры) для сбора
информации на Платформе и/или взаимодействия с Платформой и ее
функционалом;</p>

<p>4.4.7. совершать действия, направленные на нарушение запретов,
установленных настоящим Соглашением.</p>

<p>4.5. Пользователь самостоятельно несет ответственность за безопасность
введенного им Логина и Пароля для доступа к Личному кабинету, а также
самостоятельно обеспечивает его конфиденциальность и сохранность.
Компания не хранит и не имеет каких-либо данных о Пароле Пользователя.</p>

<h3>5. Общие правила использования Платформы. Порядок размещения информационных предложений</h3>

<p>5.1. В соответствии с Соглашением использование Платформы возможно в
объеме, предусмотренном Соглашением, в случае выполнения Пользователем
всех необходимых и достаточных действий, предусмотренных настоящим
Соглашением.</p>

<p>5.2. Компания вправе отказать Пользователю в размещении информационных
предложений и/или удалить (сделать недоступным) информационных
предложений Пользователя в одностороннем порядке без указания причин
отказа.</p>

<p>5.3. В целях обеспечения более точного поиска Пользователь вправе
указать в соответствующих функциональных разделах Платформы
дополнительную информацию в отношении соответствующего информационного
предложения, если функциональным разделом предусмотрена такая
возможность.</p>

<p>5.4. Пользователь понимает и соглашается, что информационное
предложение, размещенное им на Платформе, не является офертой и не
означает, что заказчик готов заключить договор на указанных
Пользователем условиях.</p>

<p>5.5. Порядок заключения Электронных документов с заказчиками.</p>

<p>5.5.1. Пользователь вправе вести переговоры с заказчиками в отношении
конкретного информационного предложения с использованием
специализированного раздела своего Личного кабинета на Платформе. При
вступлении в переговоры в отношении конкретного информационного
предложения, в ходе их проведения и по их завершении Пользователь
обязуется действовать добросовестно, в частности, не допускать
вступление в переговоры или их продолжение при заведомом отсутствии
намерения достичь соглашения с таким заказчиком.</p>

<p>5.5.2. Пользователь вправе проводить с заказчиками переговоры, как это
определено в статье 434.1. Гражданского кодекса Российской Федерации, в
отношении опубликованных Пользователями информационных предложений,
посредством использования на Платформе соответствующего функционала
Личного кабинета Пользователя.</p>

<p>5.5.3. Пользователь, вступивший в переговоры с заказчиками,
самостоятельно несет расходы, связанные с их проведением, Компания не
отвечает за то, что соглашение между Пользователем и заказчиком не
достигнуто.</p>

<p>5.5.4. Пользователь самостоятельно обязан проявлять должную
осмотрительность и осторожность, а также предпринимать все необходимые и
достаточные меры при выборе лица (заказчика), с которым Пользователь
заключает сделку.</p>

<p>5.5.5. Каждый Пользователь самостоятельно несет свои риски и
ответственность, вытекающие из заключенных Пользователем юридически
значимых соглашений (договоров) с заказчиками, найденными с помощью
Платформы.</p>

<p>5.5.6. Пользователь вправе использовать доступные для него на Платформе
способы предложения своих услуг заказчикам путем заключения с ними
Электронного документа, проект которого Размещен Пользователем в
соответствующем разделе Личного кабинета.</p>

<p>5.5.7. Пользователь, изъявивший желание заключить Электронный документ с
заказчиком, выбирает проект Электронного документа, сформированного
соответствующим заказчиком, и подписывает Электронный документ в
порядке, определенном таким заказчиком.</p>

<p>5.5.8. Направленный Пользователем в адрес заказчика Электронный документ
является офертой, который в случае отсутствия возражений подписывается
заказчиком, если иное не предусмотрено таким Электронным документом.</p>

<p>5.5.9. Все права и обязанности относительно выполнения каждым
Пользователем принятых на себя обязательств, которые предусмотрены
сделками (Электронными документами) между Пользователями и заказчиками,
возникают исключительно между Пользователями и заказчиками, их
заключившими.</p>

<p>5.5.10. Компания ни при каких обстоятельствах не является стороной
заключенной между Пользователем и заказчиком сделки (Электронного
документа) и не несет ответственность за выполнение Пользователями
каких-либо условий и/или обязательств, вытекающих из заключенных ими с
помощью Платформы юридически значимых соглашений (договоров).</p>

<p>5.5.11. Участники взаимодействия обязаны соблюдать конфиденциальность
данных, используемых для подписания Электронных документов, и
своевременно информировать Компанию о случаях нарушения
конфиденциальности на Платформе или компрометации указанных данных.</p>

<p>5.5.12. Пользователь гарантирует, что не будет использовать указанный в
информационном предложении или в профиле заказчика номер телефона для
целей, не связанных непосредственно с взаимодействием с заказчиком в
процессе переговоров о заключении сделки и для исполнения сделки.</p>

<h3>6. Использование персональной информации Пользователя</h3>

<p>6.1. Сведения, сообщаемые Пользователем в процессе Регистрации, могут
содержать Персональную информацию Пользователя. Персональная информация
Пользователя, содержащаяся в Личном кабинете Пользователя,
обрабатывается Компанией в соответствии с условиями Политики в отношении
обработки персональных данных, размещенной по
адресу: https://workhere.ru.</p>

<p>6.2. Пользователь подтверждает, что ознакомлен и безоговорочно согласен
с политикой конфиденциальности, указанной в п. 6.1. настоящего
Соглашения.</p>

<h3>7. Ответственность Сторон. Ограничение ответственности</h3>

<p>7.1. Применимым правом к отношениям Сторон, вытекающим из настоящего
Соглашения, является право Российской Федерации. За неисполнение или
ненадлежащее исполнение своих обязательств, предусмотренных настоящим
Соглашением, Стороны несут ответственность согласно условиям настоящего
Соглашения и положениям действующего законодательства Российской
Федерации. Везде по тексту настоящего Соглашения, если явно не указано
иное, под термином «применимое законодательство» понимается
законодательство Российской Федерации.</p>

<p>7.2. Стороны не несут ответственности за неисполнение или ненадлежащее
исполнение своих обязанностей по настоящему Соглашению, явившееся
следствием действия обстоятельств непреодолимой силы (войны, стихийные
бедствия, запретительные действия властей), которые Стороны не могли
предвидеть или предотвратить разумными мерами.</p>

<p>7.3. Пользователь самостоятельно отвечает за любой вред, причиненный его
действиями или бездействием Компании, другим пользователям Сайта и иным
третьим лицам.</p>

<p>7.4. В случае предъявления третьими лицами претензий к Компании
вследствие нарушения их прав и законных интересов размещенными
Пользователем сообщениями и/или материалами, Компания в течение
разумного срока удаляет все спорные сообщения и/или материалы, при
необходимости адресует таких лиц к Пользователю для дальнейшего
урегулирования спорной ситуации. В случае, если вследствие указанных
претензий третьих лиц Компании будут причинены убытки, выразившиеся, в
том числе, в выплате компенсаций, возмещений, вознаграждений и т.п.
лицам, чьи права были нарушены размещением вышеуказанных сообщений и/или
материалов, а также любых штрафов и иных имущественных санкций
уполномоченных органов государственной власти, Пользователь обязуется
возместить Компании все убытки в полном размере.</p>

<p>7.5. В случае неправомерного использования Пользователем размещенных на
Сайте и/или Платформе материалов, а также дизайна, порядка расположения
материалов и иных охраняемых элементов, Пользователь может быть
привлечен к гражданской, административной и уголовной ответственности в
соответствии с положениями действующего законодательства Российской
Федерации.</p>

<p>7.6. Сайт, его структура и дизайн, отдельные элементы дизайна и
интерфейс, алгоритмы работы программных компонентов и их исходные
программные коды (в том числе их части) являются интеллектуальной
собственностью и Компании, любое их использование в нарушение условий
настоящего Договора рассматривается как нарушение прав Компании и
является достаточным основанием для одностороннего отказа Компании от
исполнения настоящего Соглашения и предъявления Компанией письменного
требования о возмещении убытков, а также уплаты штрафа в размере 50
000,00 (Пятидесяти тысяч) рублей.</p>

<p>7.7. Пользователь несет ответственность за точность и достоверность
размещаемой им на Сайте и/или Платформе информации.</p>

<p>7.8. Компания не несет ответственности за возможный вред (имущественный
или неимущественный), причиненный Пользователю в результате его
взаимодействия с другими пользователями Сайта/Платформы или заказчиками,
а также в результате возникновения перебоев и ошибок в работе Платформы.</p>

<p>7.9. Компания не несет ответственности за вред, причиненный
Пользователю, а также его имуществу (в частности -- устройству (ПК,
мобильному устройству и др.) Пользователя и установленному на нем
программному обеспечению), в результате использования Пользователем
Сайта и/или Платформы, если только не будет доказано в суде, что такой
вред причинен по вине (в результате умысла) Компании.</p>

<p>7.10. Компания вправе заблокировать Учетную запись Пользователя в
случаях нарушения им условий настоящего Соглашения и/или положений
действующего законодательства Российской Федерации.</p>

<p>7.11. Компания не несет ответственности и не имеет прямых или косвенных
обязательств перед Пользователем в связи с любыми возможными или
возникшими потерями или убытками, связанными с любым содержанием Сайта
и/или Платформы, регистрацией авторских прав и сведениями о такой
регистрации, товарами или услугами, доступными на или полученными через
внешние сайты или ресурсы либо иные контакты Пользователя, в которые он
вступил, используя размещенную на Сайте и/или Платформе информацию или
ссылки на внешние ресурсы.</p>

<p>7.12. Пользователь согласен с тем, что Компания не несет какой-либо
ответственности и не имеет каких- либо обязательств в связи с рекламой,
которая может быть размещена на Платформе не Компанией.</p>

<p>7.13. Пользователь использует Сайт и/или Платформу на свой собственный
риск, сервисы Платформы предоставляются «как есть», без каких-либо
гарантий, прямо не оговоренных в настоящем Соглашении.</p>

<p>7.14. Компания не несет ответственности и не осуществляет устранение
неисправностей, возникших по вине оператора сотовой связи или в связи с
выходом из строя оборудования, а также в связи со сбоями во всех
системах, линиях связи, через которые проходит информация.</p>

<p>7.15. Компания не несет ответственности:</p>

<ul>
<li>за возникновение сбоев и ошибок в работе Платформы, за потери и
повреждения данных, связанные с использованием Пользователем
Платформы;</li>

<li>за недоставку СМС-сообщения на номер телефона, указанный
Пользователем при регистрации на Платформе;</li>

<li>за возможные убытки, причиненные Пользователю в связи с
использованием Платформы, в том числе за возможные убытки, возникшие
в результате исполнения и/или неисполнения принятых Пользователем
обязательств в рамках отдельных договоров, заключенных на Платформе,
с заказчиком.</li>
</ul>

<p>7.16. Ни при каких обстоятельствах Компания не несет ответственность в
случае указания Пользователем в его Личном кабинете номера телефона,
адреса электронной почты, владельцем которых Пользователь не является, а
также в случае доступа к указанным данным третьих лиц, в том числе в
результате совершения самим Пользователем фактических действий.</p>

<h3>8. Разрешение споров</h3>

<p>8.1. До обращения в суд с иском по спорам, возникающим из отношений
между Пользователем и Компанией, обязательным является предъявление
претензии (письменного предложения о добровольном урегулировании спора).</p>

<p>8.2. Получатель претензии в течение 10 (десяти) рабочих дней со дня
получения претензии письменно уведомляет заявителя претензии о
результатах рассмотрения претензии.</p>

<p>8.3. При недостижении соглашения спор будет передан на рассмотрение в
суд по месту нахождения Компании в соответствии с действующим
законодательством Российской Федерации.</p>

<h3>9. Прочие положения</h3>

<p>9.1. Настоящее Соглашение представляет собой соглашение между
Пользователем и Компанией в отношении предоставленных Пользователю прав
использования Платформы.</p>

<p>9.2. Если по тем или иным причинам одно или несколько положений
настоящего Соглашения будут признаны недействительными или не имеющими
юридической силы, это не оказывает влияния на действительность или
применимость остальных положений Соглашения.</p>

<p>9.3. Бездействие со стороны Компании в случае нарушения Пользователем
положений настоящего Соглашения не лишает Компанию права предпринять
соответствующие действия в защиту своих интересов позднее, а также не
означает отказа Компании от своих прав в случае совершения Пользователем
в последующем подобных либо сходных нарушений.</p>

<p>9.4. Используя Электронную подпись при подписании Электронных
документов, заключенных между Компанией и Пользователем, указанных в п.
1.10. Соглашения, Пользователь:</p>

<p>9.4.1. подтверждает и гарантирует, что ознакомился в полном объеме с
вышеуказанными Электронными документами, согласен со всеми их условиями
в полном объеме, их положения ему понятны и имеют для него обязательную
юридическую силу;</p>

<p>9.4.2. подтверждает, что уведомлен о рисках, связанных с использованием
Электронной подписи при подписании вышеуказанных Электронных документов,
и передаче таких Электронных документов по защищенным и (или) открытым
каналам связи, согласен с рисками и принимает их на себя в полном
объеме.</p>

<p>9.5. Настоящим Пользователь соглашается и заверяет, что все Электронные
документы, указанные в п.5.5. настоящего Соглашения, считаются
подписанными с использованием Электронной подписи Пользователя и:</p>

<p>9.5.1. являются подлинными, тождественными и целостными документами,
исходящими от Пользователя, и являются основанием для совершения
юридически значимых действий лицом, которому адресован данный
Электронный документ;</p>

<p>9.5.2. удовлетворяют требованиям совершения сделки в простой письменной
форме и имеют ту же юридическую силу, что и идентичные по смыслу и
содержанию документы на бумажном носителе, подписанные собственноручной
подписью Пользователя.</p>

<p>9.6. Указанный в п. 9.5. Соглашения порядок подписания Электронного
документа распространяется и на все Электронные документы, заключенные
между Компанией и Пользователем, указанные в п.1.10. Соглашения.</p>

<p>9.7. Настоящее Соглашение составлено на русском языке.</p>
        </div>
    </div>
</html>

{% endblock %}